## 2. Giải quyết vấn đề

In [22]:
import pandas as pd
import numpy as np

### 2.1. File `air_visit_data.csv`

- **Input:** File air_visit_data thu thập những dữ liệu về khách hàng đến cửa hàng theo ngày (nếu ngày mà cửa hàng không có khách thì file sẽ không hiển thị)
- **Output:** Dữ liệu khách hàng của cửa hàng sẽ được tính tổng theo từng ngày
- **Phương pháp:** chúng ta sẽ gom nhóm theo ngày và tính tổng số lượng khách của cửa hàng theo ngày đó, nếu ngày nào không có khách thì sẽ gắn số khách là 0
- **Mục đích:** tạo một chuỗi thời gian liên tục cho mỗi cửa hàng, từ đó m hình có thể học được xu hướng và mô hình vắng khách hoặc đóng cửa của nhà hàng

In [23]:
path1 = 'data/air_visit_data.csv'
air_visit = pd.read_csv(path1)
air_visit.head(10)

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6
5  air_ba937bf13d40fb24  2016-01-19         9
6  air_ba937bf13d40fb24  2016-01-20        31
7  air_ba937bf13d40fb24  2016-01-21        21
8  air_ba937bf13d40fb24  2016-01-22        18
9  air_ba937bf13d40fb24  2016-01-23        26

In [24]:
air_visit.index = pd.to_datetime(air_visit['visit_date'])
air_visit = air_visit.groupby('air_store_id').apply(lambda data: data['visitors'].resample('1d').sum(), include_groups=False).reset_index()
air_visit['visit_date'] = air_visit['visit_date'].dt.strftime('%Y-%m-%d') #chuyen dang YYYY-mm-dd
air_visit.fillna({'visitors': 0}, inplace = True) #ignore

air_visit.head(10)

           air_store_id  visit_date  visitors
0  air_00a91d42b08b08d9  2016-07-01        35
1  air_00a91d42b08b08d9  2016-07-02         9
2  air_00a91d42b08b08d9  2016-07-03         0
3  air_00a91d42b08b08d9  2016-07-04        20
4  air_00a91d42b08b08d9  2016-07-05        25
5  air_00a91d42b08b08d9  2016-07-06        29
6  air_00a91d42b08b08d9  2016-07-07        34
7  air_00a91d42b08b08d9  2016-07-08        42
8  air_00a91d42b08b08d9  2016-07-09        11
9  air_00a91d42b08b08d9  2016-07-10         0

##